html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #f3ecdd;
}

p {
  margin: 0;
}

.background-main-page {
  background: url("../images/background.png");
  height: 100vh;
  position: relative;
  width: 100%;
}

.main-page-text {
  color: #e9ceab;
  margin-top: 60px;
  font-family: SinaNova, "SinaNova", serif;
  font-size: 5rem;
  text-align: center;
}

.product-selection-line {
  background-color: #f3ebdd;
  border-radius: 100px;
  color: #784a2e;
  display: flex;
  flex-wrap: wrap;
  font-family: SinaNova, "SinaNova", serif;
  font-size: 3.3rem;
  justify-content: space-between;
  padding: 64px 80px 0 80px;
}

.product-selection-content {
  align-items: center;
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-selection-image-container {
  position: relative;
  background-color: #e9ceab;
  border-radius: 72px;
  display: flex;
  justify-content: center;
  padding: 80px 8px 24px 8px;
  width: 98%;
}

.product-selection-description-text {
  font-size: 3.3rem;
  font-weight: 600;
  margin-top: 24px;
  text-align: center;
}

.product-order-badge {
  background-color: #d4a673;
  border-radius: 100%;
  color: #f3ebdd;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 90px;
  height: 90px;
  position: absolute;
  text-align: center;
  top: 24px;
  left: 24px;
  width: 90px;
}

.article-description {
  background-color: #e9ceab;
  border-top-left-radius: 72px;
  border-top-right-radius: 72px;
  color: #784a2e;
  font-family: SinaNova, "SinaNova", serif;
  font-size: 3rem;
  padding: 64px 80px 160px 80px;
}

.button-styled {
  background-color: transparent;
  border: 0;
  border: 2px solid #784a2e;
  border-radius: 72px;
  color: #784a2e;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 64px;
  outline: 0;
  padding: 36px 12px 36px 12px;
  text-align: center;
  text-decoration: none;
  width: 90%;
  font-family: SinaNova, "SinaNova", serif;
  font-weight: 600;
  font-size: 3.5rem;
}

.hr-styled {
  background-color: #e9cfad;
  border: 0;
  height: 4px;
  margin: 80px 0;
}

.article-description-title {
  font-family: SinaNova, "SinaNova", serif;
  font-weight: 600;
  font-size: 5rem;
}

.article-description-title-sub {
  font-weight: 600;
  font-style: italic;
  font-size: 3rem;
  margin-top: 32px;
}

.article-description-title-sub span {
  font-weight: normal;
}

.article-description-quantity {
  font-style: italic;
}

.article-usage {
  background-color: #ecdabe;
  border-top-left-radius: 72px;
  border-top-right-radius: 72px;
  margin-top: -72px;
  color: #784a2e;
  font-family: SinaNova, "SinaNova", serif;
  font-size: 3.3rem;
  padding: 64px 80px 120px 80px;
}

.article-usage-title {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 32px;
}

.article-usage a img {
  margin-top: 64px;
  margin-left: -12px;
}

.floating-buttons {
  display: flex;
  flex-direction: column;
  left: 80px;
  height: 320px;
  justify-content: space-between;
  position: absolute;
  top: 64px;
}

.stamps-collection {
  display: flex;
  margin-top: 32px;
  margin-left: -16px;
}

.stamps-collection-first {
  display: flex;
  margin-top: 32px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.stamps-collection-first img {
  flex-basis: 33.3333%;
  height: 250px;
  object-fit: none;
  width: 300px;
}

.stamps-collection-first img:nth-child(4) {
  margin-left: 80px;
  padding-left: 48px;
}

.stamps-collection-first img:nth-child(5) {
  margin-right: 80px;
}

.stamps-collection img:not(:first-child) {
  margin-left: 20px;
}

.product-image-container {
  z-index: 2;
  display: flex;
  justify-content: center;
}

.product-section {
  position: relative;
}

.floating-color-product-description-12 {
  background-color: #e9ceab;
  height: 460px;
  right: 0;
  position: absolute;
  width: 50vw;
  z-index: 0;
}

.floating-color-product-description-11 {
  background-color: #e9ceab;
  border-bottom-left-radius: 190px;
  height: 460px;
  right: 0;
  position: absolute;
  width: 72vw;
  z-index: 0;
}

.fragrance-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 120px;
}

.fragrance-container img {
  margin-top: 36px;
}

.difusor-fragrance-container {
  background-repeat: no-repeat;
  color: #ecdabe;
  height: 100%;
}

.difusor-text-container {
  color: #ecdabe;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  margin: 64px 0;
  padding-left: 410px;
}

.difusor-text-container p:not(:nth-child(1)) {
  font-style: italic;
  font-size: 3.7rem;
  font-weight: normal;
  width: fit-content;
}

.difusor-button-right {
  position: absolute;
  right: -20px;
  top: 500px;
}

.difusor-button-left {
  position: absolute;
  left: -20px;
  top: 500px;
  transform: rotate(180deg);
}
